{% load static %}
<!Doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'css/basestyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>GetPlaced</title>
    
    <style type="text/css">
        .asteriskField {
            display: none;
        }

        form .alert ul li {
            list-style: none;
        }

        form .alert ul {
            padding: 0;
            margin: 0;
        }

       
.btn-link{
	color: #006600 !important;
}

	</style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark mb-4" id="mynav">
        <div class="container">
            <img src="{% static 'images/cap.png' %}" width="50px" height="50px" ><a class="navbar-brand" href="#">GetPlaced</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav mr-auto">
                   
                    
                </ul>
                
                <ul class="navbar-nav">
                   
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="{% url 'opensugg' %}" class="btn btn-outline-light">Suggestions</a>
                    <a href="{% url 'viewsugg' %}" class="btn btn-light ml-2t">View suggestions</a>
                    <a href="{%url 'placehis' %}" class="btn btn-outline-light">Add Placement history</a>
                    <a href="{%url 'viewplacehis' %}" class="btn btn-outline-light">View Placement history</a>
                    <a href="{%url 'addplacedetails' %}" class="btn btn-outline-light">Add Placement Details</a>
                </form>
                
            </div>
        </div>
    </nav>
    <article class="media content-section">
        <div class="row">
        {% for i in sugg %}
        <div class="col-lg-4">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ i.added_by }}</a>
            <small class="text-muted">{{ i.added_on|date:"F d, Y" }}</small>
            {% if request.session.username == i.added_by %}
                <div>
                    <!--<a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'home' %}">Update</a>-->
                    <a class = "btn btn-danger btn-sm mt-1 mb-1" href = "{% url 'del_sugg' pk=i.pk %}">Delete</a>
                </div>
            {% endif %}
            </div>
            <h2 class="article-title">{{ i.title }}</h2>
            <p class="article-content"><b>Mock test links:</b> {{ i.mock_tests }}</p>
            <p class="article-content"><b>Tips:</b>{{ i.tips }} </p>
            <p class="article-content"><b>Video links:</b> {{ i.video_links }}</p>
            <!--<img src = "{{ object.site_image.url }}">-->
        </div>
        </div>
        {%endfor%}
        </div>
        </article>
    </body>
</html>

